.columns {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  transition: opacity 0.25s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
  overflow-y: auto;
}

.column:not([data-skeleton]) {
  animation: appear 0.75s ease-in-out forwards;
}

@keyframes blink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.column[data-skeleton] {
  animation: blink 1s infinite alternate;
  background-color: #fafafa;
}

.title {
  font-size: larger;
  position: sticky;
  top: -1rem;
  background-color: #fff;
  left: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleAmount {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  font-size: 12px;
}

.empty {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease-in-out;
}
