.group {
  position: relative;
}

.button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: black;
  border: none;
  color: white;
}

.button svg {
  transition: all 100ms ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.modal {
  position: absolute;
  top: 100%;
  margin-top: 0.25rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #eee;
  right: 0;
  z-index: 10;
  animation: appear 250ms ease-in-out;
  transform-origin: top right;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
}

.modal > div {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
